@model Book

<h1 class="alert alert-success text-center">Book Details</h1>
<partial name="_BookData" />

<a asp-controller="Books" asp-action="GetIndexView" class="btn btn-success mt-2 col-12 fw-bold"><i class="bi bi-arrow-left-circle"> Back to List</i></a>
<br />
<br />
<br />