@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <img src="~/images/books2.webp" style="
            max-width: 100%;
            width:1700px;
            height:500px;
            border: solid 1px #CCC" />

    <h1 class="display-4" style="color:#05445E">Welcome To Vision</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
