@model Category

<h1 class="alert alert-warning text-center">@Model.Name Details</h1>

<partial name="_CatData" />

<a asp-controller="Categories" asp-action="GetIndexView" class="btn btn-success mt-2 col-12 fw-bold"><i class="bi bi-arrow-left-circle"> Back to List</i></a>
<br />
<br />
<br />